.jumbotron-fluid {
    background-image: url("../img/pizza.png");
    margin: auto 0;
    text-align: center;
}
.container-fluid {
    background: white;
    opacity: 60%;
}
.card-headers {
    color: white;
    background-color: #007BFF;
}
.form-check-label {
    margin-left: 1em;
}
.form-check-input {
    margin-left: auto;
}
nav a {
    color: black;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 60px;
}