.navbar:{
    float: right;
}

.jumbotron-fluid {
    background-image: url("../img/pizza.png");
    margin: auto 0;
    text-align: center;
}
.container-fluid {
    background: white;
    opacity: 60%;
}
.card-headers {
    color: white;
    background-color: #007BFF;
}
