* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
nav {
    background-color: grey;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: .5em;
}

a:hover {
    color: blue;
}

ul {
    display: flex;
    list-style-type: none;
    font-family: 'Work Sans', sans-serif;

}

.logo {
    display: flex;
    font-size: 3em;
    padding: .2em 0;
    font-family: 'Montserrat', sans-serif;
}













